{% load static %}

<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="{% static 'gmd_creator/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'gmd_creator/vermetadados.css' %}" rel="stylesheet">
    <script src="{% static 'gmd_creator/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'gmd_creator/bootstrap.min.js' %}"></script>
    <script src="{% static 'gmd_creator/loadFromIso.js' %}"></script>

    <title>BDGEx - Ver Metadados</title>
</head>
<body>

<div class="container">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Detalhes dos metadados</a>
            </div>
            <div class="" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a data-toggle="tab" href="#metametadados">Metametadados</a></li>
                <li class="active"><a data-toggle="tab" href="#identProduto">Identificação do produto</a></li>
                <li><a data-toggle="tab" href="#carTecnicas">Características Técnicas</a></li>
                <!--<li><a data-toggle="tab" href="#qualidade">Qualidade</a></li>
                <li><a data-toggle="tab" href="#localizacao">Localização</a></li>-->
            </ul>
            </div>
        </div>
    </nav>
    <form class="form-horizontal" action="/action_page.php">
    <div class="tab-content">
        <div id="metametadados" class="tab-pane fade in">
            <div class="form-group">
                <label class="control-label col-sm-2" for="gmd:fileIdentifier gco:CharacterString">Identificador de metadados:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="gmd:fileIdentifier gco:CharacterString" placeholder="Será preenchido automaticamente" value="{{ metadataid }}" readonly="readonly">
                </div>
            </div>
            <label for="contatoGrupo">Contato</label>            
            <div class="panel panel-default" id="contatoGrupo">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:contact gmd:CI_ResponsibleParty gmd:individualName gco:CharacterString">Responsável pelas informações de metadados/CREA:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:contact gmd:CI_ResponsibleParty gmd:individualName gco:CharacterString" readonly="readonly" value="PATRICIA PAIVA DE SOUZA / 2007118108;">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:contact gmd:CI_ResponsibleParty gmd:positionName gco:CharacterString">Função do responsável:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:contact gmd:CI_ResponsibleParty gmd:positionName gco:CharacterString" readonly="readonly" value="Chefe de Subdivisão Técnica">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:contact gmd:CI_ResponsibleParty gmd:organisationName gco:CharacterString">Nome da organização:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:contact gmd:CI_ResponsibleParty gmd:organisationName gco:CharacterString" readonly="readonly" value="5º Centro de Geoinformação">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:contact gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:onlineResource gmd:CI_OnlineResource gmd:linkage gco:CharacterString">Endereço eletrônico da organização:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:contact gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:onlineResource gmd:CI_OnlineResource gmd:linkage gco:CharacterString" readonly="readonly" value="www.5dl.eb.mil.br">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:contact gmd:CI_ResponsibleParty gmd:role gco:CharacterString">Função da organização:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:contact gmd:CI_ResponsibleParty gmd:role gco:CharacterString" readonly="readonly" value="produtor">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="gmd:MD_Metadata gmd:dateStamp gco:Date">Data de preenchimento:</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="gmd:MD_Metadata gmd:dateStamp gco:Date" readonly="readonly" value="2015-04-01">
                </div>
                <label class="control-label col-sm-2" for="gmd:MD_Metadata gmd:language gco:CharacterString">Idioma:</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="gmd:MD_Metadata gmd:language gco:CharacterString" readonly="readonly" value="pt-BR">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="gmd:MD_Metadata gmd:characterSet gco:CharacterString">Conjunto de caracteres:</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="gmd:MD_Metadata gmd:characterSet gco:CharacterString" readonly="readonly" value="utf8">
                </div>
                <label class="control-label col-sm-2" for="gmd:MD_Metadata gmd:metadataStandardName gco:CharacterString">Padrão de metadados:</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="gmd:MD_Metadata gmd:metadataStandardName gco:CharacterString" readonly="readonly" value="ISO19115">
                </div>
            </div>
            
        
        
        </div>
        <div id="identProduto" class="tab-pane fade in active">
            <div class="form-group">
                <label class="control-label col-sm-2" for="gmd:collectiveTitle gco:CharacterString">Projeto:</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="gmd:collectiveTitle gco:CharacterString" readonly="readonly" value="Radiografia da Amazônia">
                </div>
            </div>
            <label for="identProdGrupo">Nomenclatura</label>  
            <div class="panel panel-default" id="identProdGrupo">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:citation gmd:title gco:CharacterString">Título:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:citation gmd:title gco:CharacterString" readonly="readonly" value="0096-3 - NA-20-Y-B-I-3 - 50000">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:citation gmd:alternateTitle gco:CharacterString">Nome do produto:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:citation gmd:alternateTitle gco:CharacterString" readonly="readonly" value="0096-3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:citation gmd:alternateTitle ~ gmd:alternateTitle gco:CharacterString">Índice de nomenclatura:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:citation gmd:alternateTitle ~ gmd:alternateTitle gco:CharacterString" readonly="readonly" value="NA-20-Y-B-I-3">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:citation gmd:alternateTitle ~ gmd:alternateTitle ~ gmd:alternateTitle gco:CharacterString">Código no mapa Índice:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:citation gmd:alternateTitle ~ gmd:alternateTitle ~ gmd:alternateTitle gco:CharacterString" readonly="readonly" value="0096-3">
                    </div>
                </div>
            </div>
            <label for="identProdGrupo">Datas</label>  
            <div class="panel panel-default" id="identProdData">
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:date gco:Date">Data do produto:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:date gco:Date" readonly="readonly" value="2014-11-27">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:dateType gco:CharacterString">Tipo de data:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:dateType gco:CharacterString" readonly="readonly" value="criacao">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:edition gco:CharacterString">Edição:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:edition gco:CharacterString" readonly="readonly" value="1ª Edição">
                </div>
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:editionDate gco:Date">Data da edição:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:editionDate gco:Date" readonly="readonly" value="2014-11-27">
                </div>
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:CI_Series gmd:name gco:CharacterString">Nome da série do produto:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:CI_Series gmd:name gco:CharacterString" readonly="readonly" value="SCN Carta Topografica Matricial">
                </div>
            </div>
            <div class="form-group">
            	<label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:abstract gco:CharacterString">Resumo sobre a finalidade do produto:</label>
                <div class="col-sm-4">
                    <textarea rows="5" class="form-control" id="gmd:MD_DataIdentification gmd:abstract gco:CharacterString" readonly="readonly">Independente
 de qualquer outra aplicação secundária, este conjunto de dados 
destina-se ao USO como dado fundamental de referências. Fornece o 
conjunto de dados das categorias previstas na EDGV. Limitado ao 
enquadramento previsto no índice de nomenclatura.</textarea>
                </div>
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:purpose gco:CharacterString">Propósito original da criação do produto:</label>
                <div class="col-sm-4">
                    <textarea rows="5" class="form-control" id="gmd:MD_DataIdentification gmd:purpose gco:CharacterString" readonly="readonly">Compor
 o acervo de produtos cartográficos do mapeamento topográfico na escala 
de 1:50.000, a nível da copa das árvorese do solo da densa camada 
florestal, da região do vazio cartográfico da Amazônia Legal, que 
compreende uma área de aproximadamente 1,8 milhão de km2 que não 
possuia, até hoje, dados cartográficos terrestres adequados em escalas 
maiores que 1:250.000.</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:credit gco:CharacterString">Créditos:</label>
                <div class="col-sm-4">
                	<input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:credit gco:CharacterString" readonly="readonly" value="Projeto financiado com recursos do CENSIPAN por meio do Programa 0496">
                </div>
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:status gco:CharacterString">Situação:</label>
                <div class="col-sm-4">
                	 <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:status gco:CharacterString" readonly="readonly" value="concluido">
                </div>
            </div>
            <label for="identResolucao">Resolução Espacial</label>  
            <div class="panel panel-default" id="identResolucao">
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:spatialResolution gmd:denominator gco:Integer">Escala de uso prevista:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:spatialResolution gmd:denominator gco:Integer" readonly="readonly" value="50000">
                    </div>
                    <label class="control-label col-sm-2 hidden" for="gmd:MD_DataIdentification gmd:denominator ~ gmd:denominator gco:Integer">Maior escala para utilização do conjunto de dados:</label>
                    <div class="col-sm-4 hidden">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:denominator ~ gmd:denominator gco:Integer" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:language gco:CharacterString">Idioma:</label>
                <div class="col-sm-4">
                	<input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:language gco:CharacterString" readonly="readonly" value="pt-BR">
                </div>
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:characterSet gco:CharacterString">Conjunto de caracteres:</label>
                <div class="col-sm-4">
                	 <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:characterSet gco:CharacterString" readonly="readonly" value="utf8">
                </div>
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:topicCategory gco:CharacterString">Tópico da categoria:</label>
                <div class="col-sm-4">
                	 <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:topicCategory gco:CharacterString" readonly="readonly" value="cartografiaDeBaseCoberturasAereasImagensSatelite">
                </div>
            </div>
            
            <label for="identExtensoes">Extensão</label>  
            <div class="panel panel-default" id="identExtencoes">
            	<div class="row">
                	<div class="col-sm-4 col-sm-offset-4">
                		<label class="control-label" for="gmd:MD_DataIdentification gmd:northBoundLatitude gco:Decimal">Latitude norte</label>
                    	 <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:northBoundLatitude gco:Decimal" readonly="readonly" value="1.75">
                	</div>
            	</div>
            	<div class="row">
            	    <div class="col-sm-4 col-sm-offset-2">
                        <label class="control-label" for="gmd:MD_DataIdentification gmd:westBoundLongitude gco:Decimal">Longitude oeste:</label>
                       	<input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:westBoundLongitude gco:Decimal" readonly="readonly" value="-64.5">
                   	</div>
                   	<div class="col-sm-4">
                   		<label class="control-label" for="gmd:MD_DataIdentification gmd:eastBoundLongitude gco:Decimal">Longitude leste:</label>
                       	<input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:eastBoundLongitude gco:Decimal" readonly="readonly" value="-64.25">
                    </div>
                </div>
                <div class="row">
            	    <div class="col-sm-4 col-sm-offset-4">
                		<label class="control-label" for="gmd:MD_DataIdentification gmd:southBoundLatitude gco:Decimal">Latitude sul</label>
                    	<input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:southBoundLatitude gco:Decimal" readonly="readonly" value="1.5">
                    </div>
            	</div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 hidden" for="gmd:MD_DataIdentification gmd:supplementalInformation gco:CharacterString">Informações complementares:</label>
                <div class="col-sm-4 hidden">
                    <textarea rows="5" class="form-control" id="gmd:MD_DataIdentification gmd:supplementalInformation gco:CharacterString" readonly="readonly"></textarea>
                </div>
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:spatialRepresentationType gco:CharacterString">Tipo de representação espacial:</label>
                <div class="col-sm-4">
                	 <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:spatialRepresentationType gco:CharacterString" readonly="readonly" value="matricial">
                </div>
            </div>
            <!-- ESTE CAMPO ESTÁ MAPEADO ERRADO NO PYXSW!-->
            <div class="form-group">
                <label class="control-label col-sm-2 hidden" for="gmd:MD_DataIdentification gmd:spatialResolution gmd:distance gco:Integer">Equidistância das curvas de nível (m):</label>
                <div class="col-sm-4 hidden">
                	 <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:spatialResolution gmd:distance gco:Integer" readonly="readonly">
                </div>
            </div>
            
            <label for="pontosDeContatoGrupo">Pontos de contato (Produtor)</label>            
            <div class="panel panel-default" id="pontosDeContatoGrupo">
                <div class="form-group"> <!--Nao testado-->
                    <label class="control-label col-sm-2 hidden" for="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:individualName gco:CharacterString">Responsável técnico:</label>
                    <div class="col-sm-4 hidden">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:individualName gco:CharacterString" readonly="readonly">
                    </div>
                    <label class="control-label col-sm-2 hidden" for="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:positionName gco:CharacterString">Função do responsável:</label>
                    <div class="col-sm-4 hidden">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:positionName gco:CharacterString" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:organisationName gco:CharacterString">Nome da organização responsável pelo produto:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:organisationName gco:CharacterString" readonly="readonly" value="5º Centro de Geoinformação">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:onlineResource gmd:CI_OnlineResource gmd:linkage gco:CharacterString">Endereço eletrônico da organização:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:onlineResource gmd:CI_OnlineResource gmd:linkage gco:CharacterString" readonly="readonly" value="www.5dl.eb.mil.br">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:address gco:CharacterString">Endereço da organização:</label>
                    <div class="col-sm-4">
                    <textarea rows="3" class="form-control" id="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:address gco:CharacterString" readonly="readonly">Rua Major Daemon, nº 81 Morro da Conceição - CEP:20.081-190 - Rio de Janeiro - RJ</textarea>
                    </div>
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:phone gco:CharacterString">Telefone da organização:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:phone gco:CharacterString" readonly="readonly" value="(21)2263-9664">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:role gco:CharacterString">Função da organização:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:pointOfContact gmd:CI_ResponsibleParty gmd:role gco:CharacterString" readonly="readonly" value="produtor">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:presentationForm gco:CharacterString">Forma de apresentação:</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:presentationForm gco:CharacterString" readonly="readonly" value="mapDigital">
                </div>
            </div>
            <!--Faltando no pycw
            <label for="restricoesGrupo" >Restrições</label>             
            <div class="panel panel-default"  id="restricoesGrupo">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:keyword gco:CharacterString">Limitação de acesso:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:keyword gco:CharacterString">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:type gco:CharacterString">Limitação de uso:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:type gco:CharacterString">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:keyword gco:CharacterString">Restrições de uso:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:keyword gco:CharacterString">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:type gco:CharacterString">Grau de sigilo:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:type gco:CharacterString">
                    </div>
                </div>
            </div>
            -->
            <label for="palavrasChaveGrupo">Palavras-chave</label>            
            <div class="panel panel-default" id="palavrasChaveGrupo">
                <div class="form-group"> <!--Isso deveria ser repetido para cada palvra-chave-->
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:keyword gco:CharacterString">Palavras-chave:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:keyword gco:CharacterString" readonly="readonly" value="MI 0096-3">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:type gco:CharacterString">Tipo palavra-chave:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:descriptiveKeywords gmd:type gco:CharacterString" readonly="readonly" value="tematica">
                    </div>
                </div>
            </div>
            
            
        </div>
        <div id="carTecnicas" class="tab-pane fade">
            <label for="sistemaReferenciaPlanimetricoGrupo">Sistema de referência planimétrico</label>            
            <div class="panel panel-default" id="sistemaReferenciaPlanimetricoGrupo">
                <div class="form-group"> <!--Nao testado-->
                    <label class="control-label col-sm-2" for="gmd:MD_ReferenceSystem gmd:referenceSystemIdentifier gmd:code gco:CharacterString">Código:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_ReferenceSystem gmd:referenceSystemIdentifier gmd:code gco:CharacterString" readonly="readonly" value="EPSG:4674">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:MD_ReferenceSystem gmd:referenceSystemIdentifier gmd:authority gco:CharacterString">Autoridade:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_ReferenceSystem gmd:referenceSystemIdentifier gmd:authority gco:CharacterString" readonly="readonly" value="European Petroleum Survey Group (EPSG)">
                    </div>
                </div>
            </div>
            <label for="sistemaReferenciaAltimetricoGrupo">Sistema de referência altimétrico</label>            
            <div class="panel panel-default" id="sistemaReferenciaAltimetricoGrupo">
                <div class="form-group">
                    <label class="control-label col-sm-2 hidden" for="gmd:MD_DataIdentification gmd:verticalExtent gmd:verticalDatum gco:CharacterString">Datum vertical:</label>
                    <div class="col-sm-4 hidden">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:verticalExtent gmd:verticalDatum gco:CharacterString" readonly="readonly">
                    </div>
                </div>
            </div>
            <label for="manutencaoGrupo">Manutenção do produto</label> <!-- Nao testado -->    
            <div class="panel panel-default" id="manutencaoGrupo">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:MD_DataIdentification gmd:resourceMaintenance gmd:maintenanceAndUpdateFrequency gmd:MD_MaintenanceFrequencyCode">Frequência de atualização:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_DataIdentification gmd:resourceMaintenance gmd:maintenanceAndUpdateFrequency gmd:MD_MaintenanceFrequencyCode" readonly="readonly" value="conformeNecessidade">
                    </div>
                </div>
            </div>
            <label for="distribuicaoGrupo">Distribuição do produto</label>
            <div class="panel panel-default" id="distribuicaoGrupo">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:distributionFormat gmd:name gco:CharacterString">Formato do arquivo:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:distributionFormat gmd:name gco:CharacterString" readonly="readonly" value="Geo Tif">
                    </div>
                    <!--Falta no pycsw-->
                    <label class="control-label col-sm-2 hidden" for="gmd:MD_DigitalTransferOptions gmd:offLine gmd:namegco:CharacterString">Nome da mídia:</label>
                    <div class="col-sm-4 hidden">
                    <input type="text" class="form-control" id="gmd:MD_DigitalTransferOptions gmd:offLine gmd:namegco:CharacterString" readonly="readonly">
                    </div>
                </div>
                <div class="form-group"> <!--Falta no pycsw-->
                    <label class="control-label col-sm-2" for="gmd:distributionFormat gmd:version gco:CharacterString">Versão do formato:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:distributionFormat gmd:version gco:CharacterString" readonly="readonly" value="1.8.2">
                    </div>
                </div>
                <div class="form-group"> <!--Nao testado-->
                    <label class="control-label col-sm-2 hidden" for="gmd:MD_DigitalTransferOptions gmd:transferSize gco:CharacterString">Tamanho para distribuição:</label>
                    <div class="col-sm-4 hidden">
                    <input type="text" class="form-control" id="gmd:MD_DigitalTransferOptions gmd:transferSize gco:CharacterString" readonly="readonly">
                    </div>
                    <label class="control-label col-sm-2" for="gmd:MD_Distribution gmd:onLine gmd:linkage gco:CharacterString">Recurso online:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_Distribution gmd:onLine gmd:linkage gco:CharacterString" readonly="readonly" value="http://www.geoportal.eb.mil.br/mediador/index.php?modulo=download&amp;acao=baixarpdf&amp;identificador=6b39da65-857f-5937-d8c8-94b5fdbdb9eb">
                    </div>
                </div>
                
                <label for="distribuidorGrupo">Informações do distribuidor</label>
                <div class="panel panel-default" id="distribuidorGrupo">
                    <div class="form-group"> <!--Nao testado-->
                        <label class="control-label col-sm-2 hidden" for="gmd:MD_Distribution gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:individualName gco:CharacterString">Responsável técnico:</label>
                        <div class="col-sm-4 hidden">
                        <input type="text" class="form-control" id="gmd:MD_Distribution gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:individualName gco:CharacterString" readonly="readonly">
                        </div>
                        <label class="control-label col-sm-2 hidden" for="gmd:MD_Distribution gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:positionName gco:CharacterString">Função do responsável:</label>
                        <div class="col-sm-4 hidden">
                        <input type="text" class="form-control" id="gmd:MD_Distribution gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:positionName gco:CharacterString" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="gmd:MD_Distribution gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:organisationName gco:CharacterString">Nome da organização distribuidora:</label>
                        <div class="col-sm-4">
                        <input type="text" class="form-control" id="gmd:MD_Distribution gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:organisationName gco:CharacterString" readonly="readonly" value="5º Centro de Geoinformação">
                        </div>
                        <label class="control-label col-sm-2 hidden" for="gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:onlineResource gmd:CI_OnlineResource gmd:linkage gco:CharacterString">Endereço eletrônico da organização:</label>
                        <div class="col-sm-4 hidden">
                        <input type="text" class="form-control" id="gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:onlineResource gmd:CI_OnlineResource gmd:linkage gco:CharacterString" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:address gco:CharacterString">Endereço da organização:</label>
                        <div class="col-sm-4">
                        <textarea rows="3" class="form-control" id="gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:address gco:CharacterString" readonly="readonly">Rua Major Daemon, nº 81 Morro da Conceição - CEP:20.081-190 - Rio de Janeiro - RJ</textarea>
                        </div>
                        <label class="control-label col-sm-2" for="gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:phone gco:CharacterString">Telefone da organização:</label>
                        <div class="col-sm-4">
                        <input type="text" class="form-control" id="gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:contactInfo gmd:CI_Contact gmd:phone gco:CharacterString" readonly="readonly" value="(21)2263-9664">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:role gco:CharacterString">Função da organização:</label>
                        <div class="col-sm-4">
                        <input type="text" class="form-control" id="gmd:MD_Distributor gmd:CI_ResponsibleParty gmd:role gco:CharacterString" readonly="readonly" value="distribuidor">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gmd:MD_Distribution gmd:distributionOrderProcess gmd:fees gco:CharacterString">Custo:</label>
                    <div class="col-sm-4">
                    <input type="text" class="form-control" id="gmd:MD_Distribution gmd:distributionOrderProcess gmd:fees gco:CharacterString" readonly="readonly" value="Gratuito">
                    </div>
                </div>
            </div>
        </div>
        <div id="qualidade" class="tab-pane fade">
            <p>Qualidade</p>
        </div>
        <div id="localizacao" class="tab-pane fade">
            <p>Localização</p>
        </div>
        
    </div>
    </form>
</div>

<!-- Optional JavaScript -->
<script language='JavaScript'>
$( document ).ready(function() {
    var uuidXML=$("[id='gmd:fileIdentifier gco:CharacterString']").val();
    if (uuidXML) {
        readFromCSWGetRecords("{{ csw_server_url }}?service=CSW&version=2.0.2&request=GetRecordById&elementsetname=full&id="+uuidXML+"&typeName=gmd:MD_Metadata&outputSchema=http://www.isotc211.org/2005/gmd");
    }
});
</script>
</body></html>
